@import '../../styles/styles.scss';

.boards-menu-container {

    @include menu;
    position: fixed;
    top: rem(40px);
    right: rem(42px);
    z-index: 5;

    .boards-menu {
        .boards-list>* {
            padding: 10px 40px;
        }

        .board-line {
            cursor: pointer;

            .img-preview {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            .bgc-preview {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                display: inline-block;
            }

            &:hover {
                border-radius: 3px;
                background-color: $clr5;
                @include transition();
            }

            .link {
                font-weight: bold;
                color: $clr2;
            }

            .img-preview {
                width: rem(40px);
                height: rem(40px);
                margin-right: rem(10px);
            }
        }
    }
}
