@import '../../styles/styles.scss';

.boards-menu-container {

    @include menu;
    position: fixed;
    top: rem(40px);
    right: rem(42px);
    z-index: 5;

    .boards-menu {
        .boards-list>* {
            padding: 10px 40px;
        }

        .board-line {
            cursor: pointer;

            &:hover {
                border-radius: 3px;
                background-color: rgba(65, 65, 65, 0.109);
                transition-duration: 150ms;
            }

            .link {
                font-weight: bold;
                color: $clr2;
            }

            .img-preview {
                width: rem(40px);
                height: rem(40px);
                margin-right: rem(10px);
            }
        }
    }
}
