@import '../../styles/styles.scss';

.card-details-container {
    -webkit-tap-highlight-color: rgba($clr4, 0);
    user-select: none;
    margin: 48px 0 80px;
    width: rem(850px);
    color: $clr2;
    height: rem(900px);
    overflow-x: hidden;
    overflow-y: auto;
    @include scrollbar1;
    max-height: 86vh;
    border-radius: rem(8px);
    background-color: $clr9;
    z-index: 100;
    padding: rem(30px);

    .main-area {
        flex-basis: 90%;
        margin-left: rem(18px);

        .card-details-title {
            align-items: center;
            margin-bottom: rem(5px);
            font-weight: 600;

            .icon {
                width: rem(30px);
            }

            .contenteditable-title {
                align-items: center;
                height: rem(72px);
                font-weight: 600;
                margin-bottom: 0;
                margin-left: 5px;
                width: 80%;
                background-color: inherit;
                border: none;

                &:hover {
                    @include transition;
                    background-color: $clr10;
                }

                &:focus {
                    border: 2px solid $clr1;
                    border-radius: 3px;
                }
            }
        }

        .card-details-in-list {
            margin-bottom: rem(20px);

            :first-child {
                margin-left: rem(38px);
            }

            :nth-child(2) {
                text-decoration: underline;
                margin-left: rem(5px);
            }
        }

        .card-details-labels {
            margin-bottom: rem(20px);
            margin-left: rem(38px);
        }

        .members-due-date-container {
            flex-wrap: wrap;
            margin-bottom: rem(20px);
            margin-left: rem(38px);

            .members-due-date-title {
                font-weight: bold;
            }

            .due-date-container {
                margin-right: rem(20px);
                height: rem(76px);
            }

            h5 {
                line-height: rem(30px);
                font-size: rem(17px);

                .due-date-container {
                    margin-right: rem(20px);
                    height: 76px;
                }
            }


            .members-container {
                justify-content: space-between;
                height: rem(76px);

                .avatar-list {
                    margin: 0px;

                    .avatar {
                        padding: 1px 1px 6px;
                    }
                }
            }
        }

        .card-details-desc {
            margin-bottom: rem(15px);

            textarea {
                width: 90%;
                min-height: 50px;
                border: none;
                resize: none;
                margin-left: rem(38px);
                padding: 10px;
                background-color: $clr3;
                font-family: sans-serif;
                border-radius: rem(5px);

                &:hover {
                    @include transition;
                    background-color: $clr10;
                }

                &:focus {
                    min-height: rem(150px);
                }
            }
        }

        .card-details-img {
            margin-bottom: rem(15px);

            .img-delete-container {
                align-items: flex-start;

                .uploaded-img {
                    width: 60%;
                    min-height: 50%;
                    margin-left: rem(38px);
                    margin-right: rem(10px);
                    cursor: pointer;
                }

                h5 {
                    margin-bottom: 0;
                    border-radius: 4px;
                    color: transparent;
                    cursor: pointer;
                    position: relative;
                    right: 45px;
                    top: 5px;

                    .icon {
                        padding: 5px;
                        border-radius: 3px;
                        width: auto;
                    }
                }

                &:hover {

                    h5 {
                        color: $clr1;
                        background-color: rgba(211, 211, 211, 0.63);
                        @include transition;
                    }
                }
            }
        }
    }

    .card-details-buttons-area {
        margin-right: rem(18px);
        width: rem(180px);

        .close-card-details {
            justify-content: flex-end;
            margin-bottom: rem(20px);
        }
    }


}
