// Mixin buttons

@mixin dark-buttons {
    outline: none;
    border-radius: 4px;
    border: none;
    color: $clr2;

    &:hover {
        background-color: $clr5;
        @include transition(150ms);
    }
}

@mixin menu {
    color: $clr2;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #f4f5f7;
    box-shadow: 0 12px 24px -6px rgba(47, 52, 59, 0.25), 0 0 0 1px rgba(9, 30, 66, .08);
}

// Media queries Breakpoint mixins

@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin scrollbar1 {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(141, 141, 141, 0.281);
        border-radius: 20px;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(146, 141, 141, 0.534);
        border-radius: 20px;
    }
}

// List, card-edit and bottom scrollbar
@mixin scrollbar2 {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(141, 141, 141, 0.281);
        border-radius: 20px;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(146, 141, 141, 0.534);
        border-radius: 20px;
    }
}

@mixin transition($duration) {
    translate: $duration;
}
