// Media queries Breakpoint mixins

@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

// List, card-edit and bottom scrollbar
@mixin scrollbar2 {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(141, 141, 141, 0.281);
        border-radius: 20px;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(146, 141, 141, 0.534);
        border-radius: 20px;
    }
}
