// Colors

$clr1: #333333; // main text color
$clr2: #5d5d5d; // boards menu text color
$clr3: #f5f5f5; // white text color
$clr4: #ffffff42; // buttons & hovers background color
$clr5: #4141411c; // bgc for hover;

// Breakpoints

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;
