// Colors

$clr1:#333333; // main text color
$clr2:#5d5d5d;
$clr3:#f5f5f5; //white text color
$clr4: rgba(255, 255, 255, 0.26);

// Breakpoints

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;
