// Colors

$clr1: rgb(51, 51, 51); // main text color
$clr2: rgb(93, 93, 93); // boards menu text color
$clr3: rgb(245, 245, 245); // white text color
$clr4: rgba(255, 255, 255, 0.259); // buttons & hovers background color
$clr5: rgba(65, 65, 65, 0.11); // bgc for hover;
$clr6: rgb(226, 226, 226); // add btn color
$clr7: rgb(46, 104, 128); // add btn bgc for hover

// Labels Palette

$label1: #5699b4;

// Breakpoints

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;
