@import '../../../styles/styles.scss';

.card-checklist {
    height: 25px;
    width: 66.5%;

    .checklist-list-container {
        margin-left: rem(-20px);
        margin-bottom: rem(30px);
        width: 24.5rem;

        .checkbox {
            border-radius: rem(2px);
            height: 20px;
            width: 20px;
            transition: .2s;
            min-width: 20px;
            min-height: 20px;
        }

        li {
            margin-bottom: 10px;

            label {
                cursor: pointer;
                align-items: center;

                :first-child {
                    margin-right: 10px;
                }
            }
        }
    }

    .checklist-title {
        margin-bottom: rem(10px);
        height: rem(30px);
        align-items: center;

        &:hover {
            @include transition;
            background-color: $clr10;
        }
    }
}
