@import '../../../styles/styles.scss';

.card-checklist {
    height: rem(25px);
    width: 66.5%;

    .checklist-list-container {
        margin-left: rem(-20px);
        margin-bottom: rem(30px);
        width: 30.5rem;

        .checklist-btn-remove-todo {
            margin-left: rem(15px);
            border: none;
            cursor: pointer;
            padding-right: rem(1px);
            background-color: transparent;

            .icon {
                margin-right: 0;
                width: rem(30px);
            }
        }

        .checkbox {
            border-radius: rem(2px);
            height: 20px;
            width: 20px;
            transition: .2s;
            min-width: 20px;
            min-height: 20px;
        }

        li {
            margin-bottom: 10px;

            label {
                cursor: pointer;
                align-items: center;

                :first-child {
                    margin-right: 10px;
                }
            }
        }
    }

    .checklist-title {
        margin-bottom: rem(10px);
        height: rem(30px);
        align-items: center;

        &:hover {
            @include transition;
            background-color: $clr10;
        }
    }
}
