@import '../../../styles/styles.scss';

.board-header {
    background-color: ($clr1, 0.259);
    height: rem(50px);
    color: $clr3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "leftBoardHeader avaterBoardHeader rightBoardHeader";

    .left-board-header {
        grid-area: leftBoardHeader;
        margin-left: rem(8px);
        justify-content: flex-start;
        align-self: center;

        .board-title {
            color: $clr3;
            outline: none;
            border: none;
            margin-bottom: 0;
            padding: 0 10px 0 3px;
            background-color: inherit;

            &:hover {
                background-color: $clr4;
                @include transition();
                border-radius: 4px;
            }

            &:focus {
                background-color: $clr41;
            }
        }
    }

    .avatar-board-header {
        grid-area: avaterBoardHeader;
        justify-content: center;
        align-items: center;

        .avatar-list {
            margin: rem(4px);
        }

        .avatar {
            margin: rem(1px);
        }
    }
}
