@import '../../../styles/styles.scss';

.card-preview-container {
    width: 100%;
    border-radius: 3px;
    color: $clr2;
    @include box-shadow;
    cursor: pointer;
    margin-bottom: 8px;

    img {
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .card-content {
        width: rem(256px);
        padding: 6px 8px 2px;
        font-weight: 400;

        &:hover {
            background-color: #f0f0f0;
        }

        .card-title-delete {
            justify-content: space-between;
            color: transparent;

            &:hover {
                color: $clr2;
            }

            .card-title {
                display: block;
                margin-bottom: rem(4px);
                color: $clr2;
            }
        }
    }
}
